
//
// VARIABLES
//

// Colors
$limeGreen: #00ff00;
$Green: #009f00;
$darkGreen: #009f00;
$lightGreen: #00ff00;
$blue: #00ff00;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$lighterGray: #e3e3e3;
$white: #fff;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
